pandas
pydantic      # to enforce schema for LLM outputs
typing        # to enforce schema for LLM outputs
# huggingface-hub
ollama
tqdm          # progress bar for each experiment
PyYAML
scikit-learn  # to get the classification metrics, classification_report, confusion_matrix
seaborn       # to visualise results in Jupyter notebook
matplotlib    # to visualise results in Jupyter notebook
python-dotenv # for loading environment variables from .env file
openai        # for Nebius and OpenAI API calls
tenacity      # for API model retries
google-genai  # for Gemini API calls